# Ignore build results
/bin/
/obj/
.dll
**/obj/
Debug/


# Rider
.idea/
*.sln.iml
.git/
.DS_Store
**/netcoreapp3.1/*
**/config/*
**/obj/*

# Visual Studio
.vs/
*.csproj.user
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.user
*.code-workspace

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Ll]og[Ff]iles/

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Microsoft Azure Build Output
csx/
*.build.csdef

# Ignore local appsettings.json file
appsettings.Development.json